<div class="panel panel-default">
    <div class="panel-heading text-center">Inventory</div>
    <div class="panel-body">
	<ul class="list-group">
	    <li class="list-group-item" ng-repeat="item in inventory">
		<span class="badge">{{item.quantity}}</span>
		<img ng-src="img/{{item.name}}.png" alt="{{item.name}}">

		<input class="form-control" ng-model="item.input" placeholder="{{item.name}} quantity less than or equal to {{item.quantity}}">
		<button class="btn btn-default" ng-click="place_auction(item.id, item.name, item.input)" ng-disabled="sufficient_inventory(item.quantity, item.input)">Auction</button>

	    </li>
	</ul>
    </div>
</div>
